html, body {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  image-rendering: pixelated; /* Optional: for crisp pixel art */
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

body.flipped {
  transform: rotate(180deg);
  transform-origin: center center;
}

@font-face {
  font-family: "Early GameBoy";
  src: url("assets/Early GameBoy.ttf") format("truetype");
}